@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Public+Sans&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin:0;
  min-height: 100vh;
  background: rgb(238,243,247);
  overflow-x: hidden;
}

.checkbox {
  height: 0;
  width: 0;
}

.sidebar-open {
  width:300px;
  transition: width 2s ease-out;
}

.sidebar-close 
{
  width:0px;
  transition: width 2s ease-out;
}

.checkbox:checked::after {
  content:"";
  position: absolute;
  width:6px;
  height:12px;
  border: solid #fff;
  border-width:0 3px 3px 0;
  left:9px;
  top:4px;
  transform:rotate(45deg);
}

.hero-bg-home {
  background-image: url('../public/assets/shared/desktop/bg-pattern-circle.svg');
  background-repeat: no-repeat;
  background-position:130% -270px;
}

.hero-bg-others {
  background-image: url('../public/assets/shared/desktop/bg-pattern-circle.svg');
  background-repeat: no-repeat;
  background-position:800px -530px;
}

.wwww-bg {
  background-image: url('../public/assets/shared/desktop/bg-pattern-circle.svg');
  background-repeat: no-repeat;
  background-position:-40% 110%;
}

.footer-bg {
  background-image: url('../public/assets/shared/desktop/bg-pattern-circle.svg');
  background-repeat: no-repeat;
  background-position:150% 10%;
}

.simple-ui-bg {
  background-image: url('../public/assets/shared/desktop/bg-pattern-circle.svg');
  background-repeat: no-repeat;
  background-position:160% 0%;
}

.facebook-icon {
  content: url('/public/assets/shared/desktop/facebook.svg');
}

.facebook-icon:hover {
  content: url('/public/assets/shared/desktop/facebook-hover.svg');
}

.twitter-icon {
  content: url('/public/assets/shared/desktop/twitter.svg');
}

.twitter-icon:hover {
  content: url('/public/assets/shared/desktop/twitter-hover.svg');
}

.linkedin-icon {
  content: url('/public/assets/shared/desktop/linkedin.svg');
}

.linkedin-icon:hover {
  content: url('/public/assets/shared/desktop/linkedin-hover.svg');
}

.illust-easy {
  background-image: url('../public/assets/home/desktop/illustration-easy-to-implement.svg');
  background-repeat: no-repeat;
  background-position:65% 0%;
}

.illust-simple-ui {
  background-image: url('../public/assets/home/desktop/illustration-simple-ui.svg');
  background-size:125%;
  background-repeat: no-repeat;
  background-position:30% 0%;
}

@media(max-width:976px)
{
  .hero-bg-home {
    background-position:50% -500px;
  }

  .hero-bg-others {
    background-position:500px -500px;
  }

  .wwww-bg {
    background-position:50% -550px;
  }

  .footer-bg {
    background-position:400% 10%;
  }

  .simple-ui-bg {
    background-image: none;
  }
}

@media(max-width:769px)
{
  .hero-bg-home {
    background-position:50% -525px;
  }

  .hero-bg-others {
    background-position:200px -600px;
  }

  .wwww-bg {
    background-position:50% 540%;
  }

  .footer-bg {
    background-position:50% -40%;
  }
}

